*{
    margin: 10px;
}
button{
    border-color: black;
    top: 0ch;
    right: 0ch;
    bottom: 0ch;
    border: none;
    padding: 15px;
    background-color:white;
    color:black;
    
}